/* PasswordPage.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set container height to viewport height */
}
 
.form-container {
  width: 300px; /* Adjust the width as needed */
  text-align: center;
}
 
h2 {
  margin-bottom: 10px;
}
 
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #211515;
}
 
button[type="submit"] {
  padding: 10px 20px;
  background-color: #d9d9d9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
 
button[type="submit"]:hover {
  background-color: #0056b3;
}